*.DS_Store
17\Days\of\CV/Day\1/.DS_Store
17\Days\of\CV/Day\8/shape_predictor_68_face_landmarks.dat
17\Days\of\CV/Day\9/shape_predictor_68_face_landmarks.dat
17\ Days\ of\ CV/Day\ 14/api-key.txt

*.jpg
*.png
*.jpeg
*.log
*.gif

!/img/*
img/.DS_Store
